*{
	padding: 0;
	margin: 0;
}
.outer{
	background: url(bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100%;
	font-family: 'Dosis', sans-serif;
}
.banner{
	float: left;
}
.nav{
	float: right;
}
.outer::before, .outer::after{
	content: "";
	display: block;
	clear: both;
}
.logo{
	width: 70px;
	height: 70px;
	padding-left: 95px;
	padding-top: 13px;
}
.nav li{
	display: inline-block;
	letter-spacing: 2px;
	padding-top: 40px;
}
.nav li a{
	color: rgba(255,255,255,0.8);
	text-decoration: none;
	margin-right: 40px;
}
.nav li a:hover{
	color: orange;
	border-bottom: 1px solid orange;
}
.content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgba(255,255,255,0.8);
	text-align: center;
	height: 200px;
	width: 100%;
}
.content h2{
	letter-spacing: 5px;
	font-weight: 500;
	font-size: 17px;
	margin-bottom: 50px;
}
.content h1{
	font-size: 50px;
	letter-spacing: 35px;
	font-weight: 500;
}
.content button{
	border: 2px solid rgba(255,255,255,0.8);
	background: transparent;
	font-size: 12px;
	padding: 8px 37px;
	margin-top: 77px;
}
.content button a{
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
}
#btn1{
	margin-right: 20px;
}
.content button:hover{
	background-color: orange;
	border: 1px solid white;
}